@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --search-color: #c0c0c0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(https://cutewallpaper.org/21/movie-collage-wallpapers/Collage,-Poster,-Human,-People,-Person-resized-by-Ze-Robot.jpg);
  background-size: cover;
  backdrop-filter: brightness(0.25);
  padding: 0;
  margin: 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(20px);
  color: #fff;
  padding: 1rem;
  backdrop-filter: opacity(0.5);
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  width: 220px;
  height: 40px;
}

/* .search {
  display: flex;
  align-items: center;
  border: 1px solid var(--search-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
} */

/* .searchInput {
  border: none;
  background-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
  background: transparent;
} */

.searchInput {
  background-image: url("../img/searchInput.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent: 20px;
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color: #fff;
  font-family: inherit;
  transition: all 0.2s ease-in-out;
}

.searchInput:focus {
  outline: 0;
  background-image: none;
  text-indent: 0;
  background-color: var(--primary-color);
}

.searchInput::placeholder {
  color: #7378c5;
}

.movieSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  height: 100%;
}

.singleMovieSec {
  width: 300px;
  margin: 1rem;
  position: relative;
  background-color: var(--secondary-color);
}

.singleMovieSec img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movieInfo {
  color: var(--search-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movieTitle {
  margin-top: 0;
}

.movieInfo span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movieInfo span.green {
  color: lightgreen;
}

.movieInfo span.orange {
  color: orange;
}

.movieInfo span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(10%);
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
  opacity: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.knowMore {
  margin-top: 10px;
  background-image: linear-gradient(
    to right,
    #4b6cb7 0%,
    #182848 51%,
    #4b6cb7 100%
  );
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  border: none;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.knowMore:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.singleMovieSec:hover .overview {
  transform: translateY(0);
  opacity: 1;
}

/*  */
.tags {
  position: relative;
  width: 90%;
  height: auto;
  margin: auto;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 0;
  overflow: auto;
  scroll-behavior: smooth;
}

.tags::-webkit-scrollbar {
  display: none;
}

.tag {
  padding: 10px 30px;
  background: #7378c5;
  border: none;
  outline: none;
  margin-right: 10px;
  color: #fff;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s linear;
  display: inline-block;
}

.tag.highlight {
  background: rgb(184, 184, 184, 0.1);
}

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty {
  color: #fff;
  font-weight: bold;
}

.emptyImg {
  width: 200px;
  margin-top: 45px;
  margin-bottom: 335px;
}

.clearImg {
  width: 30px;
  position: absolute;
  top: 105px;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  z-index: 10;
}

.clearImg.disable {
  display: none;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  margin: 0 35px 20px 35px;
  color: #000;
  cursor: pointer;
}

.page img {
  width: 30px;
}

.page.disabled {
  cursor: not-allowed;
}

.current {
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 675px) {
  .singleMovieSec {
    width: 285px;
  }
}

@media screen and (max-width: 500px) {
  .navWrapper {
    flex-direction: column;
  }

  .navLogo {
    margin-bottom: 15px;
  }

  .searchInput {
    padding: 0.5rem 5rem;
  }

  .singleMovieSec {
    width: 275px;
  }
}

@media screen and (max-width: 500px) {
  .searchInput {
    padding: 0.5rem 3rem;
  }

  .clearImg {
    top: 160px;
  }
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.releaseDate {
  font-size: 15px;
  font-weight: 900;
}

.releaseDate {
  font-size: 15px;
  font-weight: 900;
}

.posterImg img {
  width: 300px;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.overlayWrapper {
  display: flex;
  margin: 0 auto;
}

.overlayWrapperLeft {
  width: 300px;
  margin: 90px 50px;
}

.overlayWrapperRight {
  width: 500px;
  margin: 90px 50px;
}

.overlayDetails {
  display: flex;
  flex-direction: column;
}

.overlayDetails span {
  margin: 20px 0;
  font-size: 20px;
}

.overlayTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlayOverview p {
  font-size: 18px;
}

.overlayTitle span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.overlayTitle span.green {
  color: lightgreen;
}

.overlayTitle span.orange {
  color: orange;
}

.overlayTitle span.red {
  color: red;
}

.iframeVid,
.recommendations {
  padding: 10px 30px;
  color: #fff;
}

.iframeHeading {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

iframe {
  width: 350px;
  height: 200px;
  margin: 0 2px;
}

.recommendationsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie p {
  position: absolute;
  /* bottom: -15px; */
  top: 150px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0;
}

.movie:hover p {
  opacity: 1;
}

.movie {
  flex: 0 0 auto;
  width: 400px;
  height: 200px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.movie img {
  width: 350px;
  height: 200px;
  margin: 0 2px;
  object-fit: cover;
}
